@{
    ViewData["Title"] = "Criar Link";
}
<h1>@ViewData["Title"]</h1>

<form method="get" action="/Home/Index">
    <label for="name">Name:</label>
    <input type="text" id="name" name="nome" />
    <button type="submit">Invite</button>
</form>
